@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("./css/arrow.css");
@import url("./css/blockquote.css");
@import url("./css/nav-icon.css");
@import url("./css/contacts.css");
@import url("./css/telephones.css");

@import url("./css/section-blocks/section__order.css");
@import url("./css/section-blocks/section__description.css");
@import url("./css/section-blocks/section__navigation.css");


/* Reset Styling */

html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: initial;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --lobster: "Lobster", cursive;
  --indie: "Indie Flower", cursive;
  --header: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --header-color: darkcyan;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: black !important;
}

a:hover {
  color: white;
  text-decoration: double underline black;
}

input::placeholder {
  color: black;
  font-weight: bold;
  font-style: italic;
  opacity: 1;
}

.jumbotron .jumbotron__header {
  margin: 30px auto;
  font-size: 3em;
  text-align: center;
  display: block;
  color: #e0ffff;
  width: 70%;
  font-family: var(--header);
  font-weight: bold;
  font-style: italic;
}

@media only screen and (max-width: 380px) {
  .jumbotron .jumbotron__header {
    font-size: 2em;
    margin: auto;
  }
}

#info {
  width: 100%;
  background: black;
}