.order {
  width: 100%;
  background-image: url(../../images/mountination.jpg);
  background-size: cover;
  text-align: center;
}

.order h1 {
  font-family: var(--header);
  color: var(--header-color);
  font-size: 2.5em;
  padding: 70px 0;
}

.order__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 0;
}

.order__container > * {
  background: var(--header-color);
  clip-path: polygon(0 100%, 0 0, 100% 0, 95% 100%);
  border-radius: 5px;
  margin: 10px;
  flex: 1;
}

.order__make {
  flex: 2;
}

.order__notable {
  flex: 2;
}

.order__call_us p,
.order__make p,
.order__notable p {
  padding: 20px;
  color: white;
  font-family: "Verdana", cursive;
  text-align: left;
}

.order__call_us h3,
.order__make h3,
.order__notable h3 {
  font-family: var(--header);
  font-style: italic;
  color: goldenrod;
  padding: 5px;
}

.order__make {
  width: max-content;
}
