.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: teal;
  }
  
.contact__telephone {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 110px;
}
  
.contact__telephone > * {
    padding: 15px 10px;
}
  
.contact__telephone p {
    font-size: 1.8em;
    letter-spacing: 1px;
    font-family: var(--indie);
    color: whitesmoke;
}

.contact__telephone img {
    width: 45px;
    height: 45px;
}
  
.contact__telephone--life img {
    width: 60px;
}