.description {
  text-align: center;
  background: url('../../images/herbs_and_spices.jpg');
  background-size: cover;
  padding: 50px 0;
}

.description__header {
  font-size: 2.5em;
  color: var(--header-color);
  font-family: var(--header);
  font-weight: bold;
}

.description__text {
  color: azure;
  font-family: var(--indie);
  font-size: 1.2em;
  width: 70%;
  display: inline-block;
  margin-top: 25px;
}
